<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1> To-Do Application </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="todo">
        <div class="row">
            <div class="col-10">
                <input type="text" class="form-control" name="task" placeholder="Task" #taskInput
                    (keyup.enter)="addTask(taskInput)">
            </div>

            <div class="col-2">
                <button class="btn btn-info form-control" type="submit" (click)="addTask(taskInput) ">Add</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>To-Do list</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="tasks.length !== 0; else showPreview">
                            <tr *ngFor="let task of tasks; let idx = index ">

                                <td class="col-md-9 " *ngIf="task.isCanceled;else elseTd ">
                                    <s class="taskTitle">{{idx + 1}}. {{task.title}}</s>
                                </td>

                                <ng-template #elseTd>
                                    <td class="taskTitle">{{idx + 1}}. {{task.title}}</td>
                                </ng-template>

                                <td class="col-md-1">
                                    <button type="button" class="btn task_btn btn-primary btn-sm form-control"
                                        (click)="editTask(idx)"> <i class="bi bi-pencil-fill"></i></button>
                                </td>

                                <td class="col-md-1">
                                    <button type="button" class="btn task_btn  btn-warning btn-sm form-control"
                                        type="button" (click)="cancleTask(idx)"> <i class="bi bi-x-lg"></i> </button>
                                </td>

                                <td class="col-md-1">
                                    <button type="button" class="btn task_btn btn-danger btn-sm form-control"
                                        type="button" (click)="deleteTask(idx)"> <i class="bi bi-trash3-fill"></i>
                                    </button>
                                </td>

                            </tr>
                        </ng-container>

                        <ng-template #showPreview>
                            <h5 class="text-center">Add new task</h5>
                        </ng-template>

                    </tbody>
                    <tfoot>
                        <tr>
                            <button class="btn btn-outline-danger mt-2 form-control w-100" type="button"
                                (click)="clearToDo()">Clear All</button>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>