<div class="registerBox">
    <h1> Register Now</h1>
   <form [formGroup]="register_form" (ngSubmit)="register()">
    <p>Username</p>
    <input type="text" name="" placeholder="Enter Username" formControlName="username">
    <p>Email</p>
    <input type="email" name="" placeholder="Ex. Mac@divyesh.com" formControlName="email">
    <p>Password</p>
    
    <input type="password" name="" placeholder="Enter Password" formControlName="password">

    <input type="submit" value="Register" [disabled]="!register_form.valid">

    <p> <a routerLink="/Login">Already have an account</a></p>
   </form>
</div>